---
import Navigation from "../components/Navigation.astro";
import ProgressBar from "../components/ProgressBar.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="icon.svg?raw" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="baseLayout">
      <Navigation />
      <div class="baseLayout__content">
        <ProgressBar />
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  .baseLayout {
    width: 100%;
    max-height: 100vh;
  }

  .baseLayout__content {
    margin-top: 100px;
    padding: 0 10px;
  }

  /* tablets */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
  }

  /* desktop */
  @media only screen and (min-width: 1024px) {
    .baseLayout {
      width: 50%;
    }
    .baseLayout__content {
      padding: 0;
    }
  }
</style>
